 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
    body{
        padding: 0;
        margin: 0;
        font-family: Sans-Serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: rgb(193,48,213);
        background: radial-gradient(circle, rgba(193,48,213,1) 19%, rgba(159,35,188,1) 50%, rgba(70,124,252,1) 100%);
    }

    .container{
        text-align: center;
        width:340px;
        height: 600px;
        margin: 30px;
        background: rgb(17,16,16);
        background: linear-gradient(0deg, rgba(17,16,16,0.9902545490852591) 0%, rgba(0,0,0,1) 99%);
        border-radius:5%;
    }
    .card{
        position: relative;
        text-align: center;
        width: 100%;
        height: 34%;
        background:linear-gradient(to bottom, rgba(14,37,73,0.7633637927827381),rgba(0,0,0,.9)),url('image.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: cover;
        background-size: 100%;
        border-radius:5%;
    }
    .card .image{
        position: relative;
        top: 50px;
        left: 30px;
        width: 120px;
    }
    .card .image img{
         width: 100%;
         border-radius:10%;
         float: left;
    }
    .card .name{
        text-align: center;
        width: 150px;
        float: right;
        position: relative;
        top: 60px;
        right: 28px;
    }
    .card .name p{
       font-size: 13px;
   }
    .card .name .small{
        color:#f1cd00;
        font-size:9px;
   }
    .player{
        float:right;
        background: none;
        text-align: center;
        color: #fff;
        font-size: 18px;
        position:relative;
        top:5px;
        right: 8px;
        font-family: FontAwesome;
        z-index: 1;
        transition: all 0.3s ease-in;
   }
   table td{
        width: 40px;
   }
  .backward:before{
       content: "\f04a";
       cursor: pointer;
       transition: all 0.15s linear;
  }
 .forward:before{
       content:"\f04e";
       cursor: pointer;
       transition: all 0.15s linear;
 }
.play:before{
      content: "\f04b";
      cursor: pointer;
      transition: all 0.15s linear;
}
.backward:hover:before{
     color: #f1cd00;
     transition: all 0.15s linear;
}
.play:hover:before{
     color: #f1cd00;
     transition: all 0.15s linear;
}
.forward:hover:before{
     color: #f1cd00;
     transition: all 0.15s linear;
}
td > #play:checked ~ label.play:before{
    content: "\f04c";
    transition: all 0.15s linear;
}
input[type=checkbox] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: 1;
}
audio{
    z-index: 0.5;
    visibility: hidden;
}

.list{
    position: relative;
    width: 320px;
    height: 320px;
    background: none;
     
}
    .par {
    position: relative;
    padding: 10px 58px 58px 0;
    width: 280px;
    height: 50px;
    box-shadow: 20px 20px 50px #12121280;
    border-radius: 5px;
    padding-bottom: 0;
    margin-bottom: 5px;
    background: #0d0d0d;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
 }
.par .item nav{
    align-items: left;
    justify-content: left;
    display: flex;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 12px;
    list-style: none;
    font-size: 13px;
}
.par .item nav a{
    position: absolute;
    color: #a6a6a6;
}
.par .item nav a:nth-child(2){
    left: 20px;
}
.par .item nav a:nth-child(3){
    left: 200px;
}
.par .item nav a:nth-child(4){
    left: 240px;
}
.par .item nav a:nth-child(5){
    left: 280px;
}
.icons:before{
  content: '\f004';
  color: #f1cd00;
  font-size: 18px;
  line-height: 20px;
  font-family: FontAwesome;
  cursor: pointer;
  transition: all 0.15s linear;
}
#heart:checked ~ label.icons:before{
   content: "\f08a";
   color: #777;
   font-size: 18px;
   line-height: 20px;
   transition: all 0.15s linear;
}
.icons1:before{
  content: '\f004';
  color: #f1cd00;
  font-size: 18px;
  line-height: 20px;
  font-family: FontAwesome;
  cursor: pointer;
  transition: all 0.15s linear;
}
#heart1:checked ~ label.icons1:before{
   content: "\f08a";
   color: #777;
   font-size: 18px;
   line-height: 20px;
   transition: all 0.15s linear;
}
.icons2:before{
  content: '\f004';
  color: #777;
  font-size: 18px;
  line-height: 20px;
  font-family: FontAwesome;
  cursor: pointer;
  transition: all 0.15s linear;
}
#heart2:checked ~ label.icons2:before{
   content: "\f08a";
   color: #f1cd00;
   font-size: 18px;
   line-height: 20px;
   transition: all 0.15s linear;
}
.icons3:before{
  content: '\f004';
  color: #f1cd00;
  font-size: 18px;
  line-height: 20px;
  font-family: FontAwesome;
  cursor: pointer;
  transition: all 0.15s linear;
}
#heart3:checked ~ label.icons3:before{
   content: "\f08a";
   color: #777;
   font-size: 18px;
   line-height: 20px;
   transition: all 0.15s linear;
}
.icons4:before{
  content: '\f004';
  color: #777;
  font-size: 18px;
  line-height: 20px;
  font-family: FontAwesome;
  cursor: pointer;
  transition: all 0.15s linear;
}
#heart4:checked ~ label.icons4:before{
   content: "\f08a";
   color: #f1cd00;
   font-size: 18px;
   line-height: 20px;
   transition: all 0.15s linear;
}
.menu:before{
  color: #a6a6a6;
  font-size: 18px;
  content: "\f142";
  font-family: FontAwesome;
  cursor: pointer;
  transition: all 0.15s linear;
}
.menu:hover:before{
  color: #f1cd00;
  transition: all 0.15s linear;
}

.foot{
  background: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: flex; 
  font-family: FontAwesome;       
  z-index: 1;
  transition: all 0.3s ease-in;
}
.foot li{
  padding: 0 30px 30px 0;
  width: 100px;
  display: inline-block;
}
.foot li a{
    text-decoration: none;
    color:#a6a6a6;
}
.home:before{
  content: "\f060";
  cursor: pointer;
  transition: all 0.15s linear;
}
.music:before{
  content:"\f514";
  cursor: pointer;
  transition: all 0.15s linear;
}
.edit:before{
  content: "\f029";
  cursor: pointer;
  transition: all 0.15s linear; */
}
.home:hover:before{
  color: #f1cd00;
  transition: all 0.15s linear;
}
.edit:hover:before{
  color: #f1cd00;
  transition: all 0.15s linear;
}
.music:hover:before{
  color: #f1cd00;
  transition: all 0.15s linear;
}
